.site-header{
    background-color: #b32219;
    color: #bbff91;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: #1f1414 3px 6px 4px 1px;
}

.course-link{
    color: #bbff91;
}
body{
    margin: 0;
}